{% extends 'base.html' %}
{% block title %}All Cats{% endblock %}
{% block body %}

<h1 class="display-6" id="header" style="text-align:center">All Cats</h1>
    <div class="container" id="allcats">
            <div class="row">  
                <table class="table table-striped mt-3">         
                    <thead>
                    <tr>
                        <th>Cat Name</th>
                        <th>Birthdate</th>
                        <th>Gender</th>
                        <th>Spayed/Neutered</th>
                        <th>Adoption Location</th>
                    </tr>
                    </thead>
                <tbody>
                    {% if not cats %}
                    <td>No cats available for adoption!</td>
                    {% else %}
                        {% for cat in cats %}
                        <tr>
                            <td>{{ cat.name }}</td>
                            <td>{{ cat.birthdate }}</td>
                            <td>{{ cat.gender }}</td>
                            <td>{{ cat.spay_or_neutor }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </div>
                </tbody>
                </table>


{% endblock %}  